* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* background image setup  */

html {
  background: url("https://cdn.pixabay.com/photo/2017/06/10/05/33/background-2389033_1280.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; /* background-position-x & y shorthand prop*/
  background-size: cover;
  scroll-behavior: smooth;
}

/*Profile Image Rotation animation style adding*/

.rotatebg {
  position: absolute;
  top: 120px;
  z-index: -1;
  width: 380px;
  height: 380px;
  background-color: rgb(255, 255, 255);
  /* background-color:blue; */
  box-shadow: 5px 5px 50px rgb(255, 255, 255);
  border: 5px solid red;
  outline: 4px solid yellow;
  border-radius: 20%;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  animation-name: logorotate;
  animation-duration: 0.4s;
  animation-iteration-count: 15;
  animation-direction: alternate;
}

@keyframes logorotate {
  from {
    /* transform: rotate(0deg); */
    transform: scale(0.8);
  }

  to {
    /* transform: rotate(360deg); */
    transform: scale(1.1);
  }
}

/* intro-text styling  */

.intro {
  position: relative;
  top: 30px;
  background-color: red;
  border-radius: 4px;
  max-width: 400px;
  width: 100%;
  height: auto;
  color: white;
  text-align: justify;
  line-height: 3rem;
  border: 4px solid white;
  border-radius: 20px;
}

.intro h1 {
  word-wrap: break-word;
  text-align: center;
  font-family: Geneva, Tahoma, sans-serif;
}

/* about section styling  */

.container {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.117);
}

.descriptioncontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 39, 211, 0.233);
  max-width: 800px;
  width: 100%;
  height: auto;
  padding: 0;
  border: 4px solid rgba(175, 161, 161, 0.685);
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
}

.section {
  width: 80%;
  height: auto;
  margin: 10px;
}

.textspan h1 {
  color: black;
  color: white;
  font-size: 2.5rem;
  word-wrap: break-word;
  text-align: center;
}

.description {
  margin-top: 10px;
  max-width: 800px;
  width: 100%;
  height: auto;
  /* background-color: black; */
  /* padding: 5px; */
}

.description p {
  color: white;
  /* color: black; */
  font-size: 1.5rem;
  margin: 0;
}

.propintro {
  padding: 4px;
  margin-top: 4px;
}

.propintro u {
  color: white;
  background-color: red;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 2rem;
  word-wrap: break-word;
}
