/* navbar styling  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-pack: justify;
  width: 100%;
  height: auto;
  margin: 0;
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1340px;
  width: 100%;
  height: 100px;
  margin: auto;
  /* background-color:white; */
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

/* navbar link styling  */
.navcontainer a {
  /* color: rgb(0, 0, 0); */
  color: white;
  margin: 8px;
  padding: 2px;
  text-decoration: none;
  font-size: 1.5rem;
  /* transition: 0.1s; */
  /* border-bottom: 1px solid rgb(0, 0, 0); */
  border-bottom: 1px solid white;
}

/* hover effects on link  */
.navbar a:hover {
  color: rgb(255, 255, 255);
  background-color: blue;
  transform: scale(1, 1.1);
  border-bottom: 2px solid yellow;
  border-radius: 10px;
  text-shadow: 5px 5px 20px rgb(255, 255, 255);
}
